@page
@model Proyectos.App.Presentacion.Pages.Tutores.ListModel
@{
   var searchString = Model.searchString; 
}
<h1>Listado de Tutores</h1>
<p>
    @Html.ActionLink("Listar Todo", "./List")
</p>

@using (Html.BeginForm())
{
    <p>
        Buscar x Nombre: @Html.TextBox("SearchString")  
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    @foreach (var tutor in Model.tutores)
    {
        <tr>
            <td>@tutor.id</td>
            <td>@tutor.identificacion</td>
            <td>@tutor.nombre</td>
            <td>
                <a class="btn btn-primary table-btn" asp-page="./Details" asp-route-tutorId="@tutor.id">
                    Detalle</a>
            </td>

            <td>
                <a class="btn btn-primary table-btn" asp-page="./Edit" asp-route-tutorId="@tutor.id">
                    Editar
                </a>
            </td> 

            <td>
                <a class="btn btn-danger table-btn" asp-page="./Delete" asp-route-tutorId="@tutor.id">
                    Eliminar
                </a>
            </td> 
        </tr>
    }
</table>

<a asp-page=".\Edit" class="btn btn-primary">Adicionar un tutor</a>